<div class="container mt-2">
    <div class="row justify-content-center p-2">
        <div class="col-12 col-md-9 col-lg-6">
            <div class="row">

                @for (p of products; track p) {
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 p-2 position-relative">

                    @if (p.qty > 0) {
                    <div class="count-item">
                        {{ p.qty }}
                    </div>
                    }

                    <div class="card shadow-sm" (click)="increase(p)">
                        <img [src]="p.image" class="card-img-top p-2" alt="" />

                        <div class="card-body">
                            <!-- title of product -->
                            <h6 class="item-name mb-1">
                                {{ p.name }}
                            </h6>

                            <!-- price product -->
                            <p class="item-price mb-2">
                                ${{ p.price }}
                            </p>

                            <!-- qty of product -->
                            <div class="d-flex align-items-center gap-2">
                                <!-- decrease value -->
                                <button class="btn btn-light btn-sm btn-decrease" (click)="decrease(p); $event.stopPropagation()">
                                    -
                                </button>

                                <!-- input value qty -->
                                <input type="number" class="form-control text-center qty-input" [value]="p.qty"
                                    (input)="onQtyChange($event, p)" min="0" (click)="$event.stopPropagation()" />

                                <!-- increase value     -->
                                <button class="btn btn-light btn-sm btn-increase">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                }

            </div>
        </div>
    </div>
</div>

<!-- Bottom Cart Bar -->
@if (totalItems > 0) {
<div class="cart-bar-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-6">
                <div class="cart-bar">
                    <div (click)="AddCart()" routerLink="/checkout"
                        class="btn-cart d-flex justify-content-between align-items-center px-3">

                        <span class="total-item">
                            {{ totalItems }}
                        </span>

                        <span>View your cart</span>

                        <span>
                            ${{ totalPrice.toFixed(2) }}
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}